# Exclude files from archive
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.cache export-ignore
/example-dep.php export-ignore
/example-plugin.php export-ignore
/README.md export-ignore

# Exclude development files
/composer.lock export-ignore